<% provide(:title, "Log in") %>

<%= form_for :session, url: login_path, :html => {:class => "form-signin"} do |f| %>
    <h3>Log in</h3>
    <%= f.label :email, :class => 'sr-only'  %>
    <%= f.text_field :email, :class => 'form-control form-top', :placeholder => "Email" %>
    
    <%= f.label :password, :class => 'sr-only'  %>
    <%= f.password_field :password, :class => 'form-control form-bottom', :placeholder => "Password" %>
    
    <div class="checkbox">
    <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>Remember me
    <% end %>
    </div>
    
    <%= f.submit "Log in", class: "btn btn-primary" %>
    <p><br/>New user? <%= link_to "Sign up now!", signup_path %></p>
<% end %>