<% provide(:title, 'Sign up') %>

<%= form_for @user, :html => {:class => "form-signup"} do |f| %>
    <h3 class="form-heading">Signup</h3>
    <%= render 'shared/error_messages' %>
    <%= f.label :name, :class => 'sr-only'  %>
    <%= f.text_field :name, :class => 'form-control form-top', :placeholder => "Name" %>

    <%= f.label :email, :class => 'sr-only'  %>
    <%= f.email_field :email, :class => 'form-control form-middle', :placeholder => "Email" %>

    <%= f.label :gender, :class => 'sr-only'  %>
    <%= f.text_field :gender, :class => 'form-control form-middle', :placeholder => "Gender (M or F)" %>

    <%= f.label :password, :class => 'sr-only'  %>
    <%= f.password_field :password, :class => 'form-control form-middle', :placeholder => "Password (Minimum 8 Chars)" %>

    <%= f.label :password_confirmation, "Confirmation", :class => 'sr-only'  %>
    <%= f.password_field :password_confirmation, :class => 'form-control form-bottom', :placeholder => "Confirm Password" %>

    <%= f.submit "Create my account", class: "btn btn-primary form-button" %>
<% end %>