<div class="jumbotron">
    <% provide(:title, "Welcome") %>
    <p id="notice"><%= notice %></p>
    <h2>Events</h2>
    <br/>
    <ul class="list-group">
    <% @events.each do |event| %>
        <li class="list-group-item">
            <span class="badge">Created: <%= event.created_at %></span>
            <%= link_to "#{event.name}", event %>
        </li>
    <% end %>
    </ul>
    <br/>
</div>