<p id="notice"><%= notice %></p>

<div class="col-md-9">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @event.name %> <small>(<%= @event.venue %>)</small>
            <span class="pull-right">
                <% if logged_in? %>
                    <% if !is_past_event(@event) %>
                      <% if is_registered(@event, @user) %>
                        <%= link_to 'Unattend', delete_registration_path(:event_id => @event.id) %>
                      <% else %>
                        <%= link_to 'Attend', register_user_path(:event_id => @event.id) %>
                      <% end %>
                    <% else %>
                      Registrations Closed
                    <% end %>
                <% end %>
            </span>
        </h3>
      </div>
      <div class="panel-body">
        <%= @event.description %>
      </div>
      <div class="panel-footer">Date & Time: <%= @event.date_time %>
        <span class="pull-right">
          Ticket: <% if is_female?(@user) %>
                    <strike>&#8377;<%= @event.ticket %></strike>  &#8377;<%= @event.ticket * 0.95 %> (5% Girls Discount)
                  <% else %>
                    &#8377;<%= @event.ticket %>
                  <% end %>
        </span>
      </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">All Attendees</h3>
      </div>
      <div class="panel-body">
        <% if @registered_users.empty? %>
          <p>No registrations so far.</p>
        <% else %>
          <table class="table">
            <thead>
              <tr>
                <td>Name</td>
                <td>Gender</td>
              </tr>
            </thead>
            <tbody>
            <% @registered_users.each do |usr| %>
            <tr>
                <td><%= usr.name %></td>
                <td><%= usr.gender %></td>
            </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
</div>

<div class="col-md-12"><center><%= link_to '<< Back to Events', events_path %></center></div>